.fundoCampoAdicionarVeiculo {
    background-color: var(--corPrincipal);
    border-radius: 16px;
    margin: 25px 0 10px;
    padding: 10px;
    box-sizing: border-box;
}

.mainAdicionarVeiculo {
    width: calc(100% - 40%);
    margin: 0 auto 25px;
}

.imagemVeiculo {
    max-width: 150px;
    display: "inline-block";
    margin: 2.5px;
    border-Radius: 10px;
    box-Shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 7px;
    color: var(--corFontes);
    font-weight: bolder;
}

.arrow {
    font-size: 14px;
    color: var(--corFontes);
    font-weight: bold;
}

.dropdownLista {
    position: absolute;
    width: 100%;
    background-color: var(--corPrecimento);
    border: 1px solid var(--corFontes);
    border-radius: 8px;
    margin-top: 5px;
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.campodePrenchimentoDropDown{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.selectContainer {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.customSelect {
    background-color: var(--corPrecimento);
    border: 1px solid var(--corFontes);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #505050;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customSelect.disabled {
    background-color: #f0f0f0;
    border-color: #aaa;
    cursor: not-allowed;
    color: #aaa;
}

.dropdownItem {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdownItem:hover {
    background-color: #50505085;
}

.mensagemErro {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.filhoCampoDuasColunas{
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: calc((100% / 2) - 4rem);
}

.campoDuasColunas{
    display: flex;
    padding-top: 5%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.campodePrenchimento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.campodePrenchimento input{
    position: relative;
    width: 100%;
    background-color: var(--corPrecimento);
    border: 1px solid var(--corFontes);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: var(--corFontes);
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.itemSelecionado {
    background-color: #c6343485; /* Azul claro, altere conforme desejado */
    font-weight: bold;
}

.itemSelecionado:hover{
    background-color: #C6343499;
}

.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox+label {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 28px;
}

.checkbox+label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 44px;
    transition: 0.4s;
}

.checkbox+label:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 2px;
    top: 2px;
    bottom: 4px;
    background-color: var(--corFontes);
    border-radius: 50%;
    transition: 0.4s;
}

.checkbox:checked+label:before {
    background-color: var(--corIconeImagem);
}

.checkbox:checked+label:after {
    transform: translateX(300%);
    background-color: white;
}


.campoUmaColuna{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.filhoCampoUmaColuna, .campoContato, .campoPreenchimentoimagens, .campoDetalhes{
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: calc((100% / 1) - 4rem);
}

.inputFilesImagens{
    display: none;
}


#campoImagens{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid var(--corFontes);
    border-radius: 8px;
    background: var(--corPrecimento);
    padding: 2%;
    box-sizing: border-box;
}

#iconeAdicionarImagem{
    display: flex;
    margin: auto 0;
    height: 100px;
    color: var(--corIconeImagem);
    background-color: #ff110057;
    padding: 10px;
    border-radius: 10px;
    border: 2px var(--corIconeImagem) dotted;
    width: 70px;
    cursor: pointer;
}

.campoDetalhes textarea{
    border: 1px solid var(--corFontes);
    border-radius: 8px;
    background: var(--corPrecimento);
    padding: 2%;
    resize: vertical;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.campoOpcoesContato{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--corFontes);
    border-radius: 8px;
    background: var(--corPrecimento);
    padding: 2%;
    box-sizing: border-box;
    height: 90px;
    justify-content: space-between;
}

.opcoesContato{
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.labelOpcoescontato{
    display: flex;
    align-items: center;
}

.labelOpcoescontato label{
    margin: auto 5px;
}

#btnAdicionarProduto{
    background-color: var(--corDetalhes);
    color: white;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 5%;
    right: 0;
    transition: all 0.2s;
}

#btnAdicionarProduto:hover{
    background-color: #fc1b1b
}

.campoBotoes{
    width: 100%;
    display: flex;
    justify-content: right;
}